/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: "Josefin Sans", sans-serif, 'Arial', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
  }
  
  /* About section styles */
  .about-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0px;
    text-align: center;
  }
  
  .about-section h1 {
    margin-bottom: 20px;
  }
  
  .about-section p {
    margin-bottom: 20px;
  }

  
  /* Google Map */
  .google-map {
    margin-top: 20px;
    text-align: center;
  }
  
  .google-map iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
  }

/* Accordion styles */
.accordion-btn {
  background-color: #f7f7f7;
  color: #333;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.accordion-btn::after {
  content: "▼"; 
  font-size: 13px;
  color: #616161;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "▲";
}

.accordion-btn:hover {
  background-color: #e9e9e9;
}

.accordion-panel {
  background-color: #fff;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}

  